<!-- COMENTARIO -->
<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading"> <strong>Nombre:</strong>&nbsp;&nbsp; <%= comentario.coment %> </div>
<!-- List group -->
<ul class="list-group">
<li class="list-group-item">
<strong>Comentario:</strong> <br></br><%= comentario.coment %>
<br></br>
<%= link_to 'Eliminar Comentario', [comentario.pelicula, comentario],
method: :delete,
data: { confirm: ' Estas seguro de borrar el comentario?' },class:'btn btn-xs btn-danger', style:'margin-bottom: 5px;' %>
</li>
</ul>

</div> <!-- end panel -->