 <!-- COMPROBACIO DE SETTING SI NO ES NULL -->   
 <div class="container">	
	 <div class="show"> 
		 <div class="col-lg-6">
			 <div class="showPeli">
				 <%if !@setting.nil?%>
				 
				   	 <p>País: <%= @setting.country %></p>
				   	 <br/>
				   	 <p>Idioma: <%= @setting.language %></p>
				   	 <br/>
				 
				     <p><%= link_to ' Editar', edit_setting_path(@setting.id) %></p>
				    
				 <%else%>
				 
				   	<%= link_to 'Añadir', new_setting_path, title:"Añadir setting !!", class:"btn btn-md btn-danger fa fa-1x fa-address-book nodecor pull-right", style:"color:white;" %>
				 <%end%>
			 </div>
		 </div>
	 </div>
 </div>



