<div class="row hidden-xs">
			<p class="logg"><%=link_to "Inicio", root_path %></p>
			<img class="imagen img-responsive" src="http://res.cloudinary.com/se-or/image/upload/v1496246942/fondo_ua1eam.jpg">
</div>
<div class="row col -xs-12 visible-xs">
			<button class="xs"><%=link_to "Inicio", root_path %></button>
</div>
<h4 class="discurso">Fans de las pelis y las series, <br/><br/>
mis hermanos.<br/><br/>
Veo en vuestros ojos</br><br/>
el mismo miedo que encogería mi propio corazón.<br/><br/>
Pudiera llegar el dia en que el IVA cultural y la censura <br/><br/>
nos venciera, en que olvidáramos todo aquel contenido con el que crecimos<br/><br/>
y decidieramos abandonar nuetro amor por este arte.<br/><br/>
Pero hoy no es ese dia.<br/><br/>
En que nos quedásemos sin lugares para compartir nuestras opiniones y teorías.<br/><br/>
Pero hoy no es ese dia<br/><br/>
En este dia mirarmeos, comenataremos y debatiremos.<br/><br/>
Por todos los años que nos quedan todavía yo, <br/><br/>
os llamo a uniros.<br/><br/>
Fans del septimo arte!
<br/>
<br/>
<br/>
<div class="visible-lg visible-md">
<%=link_to "Registrate", new_user_registration_path %>
</div>
<div class="visible-xs">
<button class="xs"><%=link_to "Regístrate", new_user_registration_path %></button>
</div>
</h4>
