<link rel="stylesheet" type="text/css" href="stylesheet/statics.css.scss">
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><%=link_to "Entrar", new_user_session_path %></li>
      <li> <%=link_to "Registrate", new_user_registration_path %></li>
      <li><%= link_to "Nosotros", about_path %></li>
    </ul>
</nav>
