<link rel="stylesheet" type="text/css" href="stylesheet/peliculas.css.scss">
<div class="head">

</div>





<h1 class="title">Movie Time</h1>







<br/>
<div class="row">
	<div class="col-lg-4">
			<div class="year">
				<h4 class="number">2017</h4>
				<% @peliculas.each do |peli| %>
					<% if peli.year === 2017 %>
						<div class="peliculas">
							<h5 class="titulo"><%= link_to peli.name, peli %></h5>
						</div>
					<% end %>
				<% end %>
			</div>
	</div>

	<div class="col-lg-6">
			<div class="top-time">
				<h4 class="top-time-title">Top Movies of All Times</h4>
				<% @peliculas.each do |peli2| %>
					<% if peli2.stars === 5 %>
				<div class="peliculas">
					<h5 class="titulo"><%= link_to peli2.name, peli2 %></h5>
				</div>
				<% end %>
				<% end %>
			</div>
	</div>
</div>

