// Place all the styles related to the peliculas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boton3{
	text-align: center;
	width: 7%;
	margin-left: 5%;

	a:link {
		color: black;
    	text-decoration: none;
	}

	a:visited {
		color: black;
    	text-decoration: none;
	}

	a:hover {
		color: black;
    	text-decoration: none;
	}

	a:active {
		color: black;
    	text-decoration: none;
	}
}

.title{
	text-align: center;
}
.peliculas{
	margin-left: 5%;
	a:link {
		color: black;
    	text-decoration: none;
	}

	a:visited {
		color: black;
    	text-decoration: none;
	}

	a:hover {
		color: black;
    	text-decoration: none;
	}

	a:active {
		color: black;
    	text-decoration: none;
	}
}